$white: #f2f2f1;
$logoColor: #4d4a48;
$dark: #222121;
$lime: #00cc66;
$orangeRed: #dbf5e0;
$blue: #2541b2;

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobiles {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin laptops {
  @media screen and (min-width: 992px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  @include tablet {
    h1 {
      margin-left: 200px;
      font-size: 55px;
    }
  }

  @include laptops {
    background-color: $orangeRed;

    h1 {
      margin-left: 35px;
      font-size: 85px;
      color: #073df0;
    }
  }

  .main__container--form {
    @include mobiles {
      font-size: 20px;
      margin-left: 50px;
      width: 300px;
      color: $white;
      background-color: #67e8ce;
      border-color: #2541b2;
      border-left: 30px;
      padding: 1px 3px;

      button {
        color: $white;
        background-color: #2541b2;
        border-color: #2541b2;
        border-right: 10px;
        padding: 1px 3px;
        cursor: pointer;
      }
    }

    @include small {
      font-size: 20px;
      margin-left: 30px;
      width: 200px;
      color: $white;
      background-color: #d1eae5;
      border-color: #2541b2;
      border-left: 30px;
      padding: 1px 3px;

      button {
        margin-left: 160px;
        cursor: pointer;
      }
    }

    @include large {
      font-size: 50px;
      width: 100px;
      color: $white;
      border-color: #2541b2;
      padding: 1px 3px;

      button {
        margin-left: 421px;
        color: $white;
        background-color: #6178d0;
        border-color: #1baf9b;
        border-right: 10px;
        padding: 1px 3px;
        cursor: pointer;
      }
    }

    @include tablet {
      font-size: 65px;
      margin-left: 10px;

      button {
        margin-left: 550px;
        margin-top: -800px;
        cursor: pointer;
      }

      select {
        margin-top: -550px;
      }

      .sort {
        margin-top: -510px;
      }

      .default {
        font-size: 15px;
        margin-top: -50px;
      }

      .sorter-1,
      .sorter-2,
      .sorter-3 {
        font-size: 20px;
      }
    }

    @include laptops {
      font-size: 50px;
      margin-left: 35px;
      margin-top: 50px;

      button {
        margin-left: 570px;
        margin-top: -550px;
        cursor: pointer;
      }
    }
  }

  .main__container--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px auto;

    .card {
      width: 100%;
      padding: 5px;
      border: 1px solid rgb(214, 214, 214);
      border-radius: 4px;
      transition: box-shadow 2s ease-in-out;

      @include laptops {
        .card {
          width: 33.33%;

          display: flex;
          flex-direction: row;
          margin: 5px 5px;
          width: 100%;
          border: 0.5px solid rgb(214, 214, 214);
          border-radius: 3px;
          transition: box-shadow 3s ease-in-out;
        }
        button {
          cursor: pointer;
        }

        .card__img {
          width: 450px;
          height: 350px;
          border-radius: 17px;
          padding-left: 15px;
          padding-top: 15px;
        }

        .card__body {
          width: 400px;
          padding-left: 15px;
        }

        .news__title {
          margin-top: 5px;
        }

        .card__description {
          font-family: "Times New Roman", Times, serif;
          font-size: 23px;
        }
        .card__button {
          background-color: hsl(226, 95%, 49%);
          color: $white;
          width: 120px;
          height: 50px;
          padding: 10px;
          margin-left: 100px;
          cursor: pointer;
          border-radius: 5px;
          font-size: 20px;

          &:hover {
            color: #00cc66;
          }
        }
      }

      &:hover {
        box-shadow: 2px 2px 15px rgb(171, 210, 210);
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;

    @include laptops {
      justify-content: last baseline;
    }
  }
  &:hover {
    color: $blue;
    transition: all 0.3s ease;
  }
}
